<body style='font-size: 13px; background-color: #6666661f; color: #000000'>
<table align='center' style='width: 720px;background-color: white;padding: 10px;border: 1px solid #3e3e3e4f;'>
    <tbody><tr>
        <td><img src='http://api-2beemap.trend2b.com/pic/banner.jpg' ></td>
    </tr>
    <tr>
        <td style='height: 50px'>Conforme solicitado, segue o link para criação de sua nova senha ao <span style='color: #1b9dff'>2Bee</span><span style="color:#3e3e3e">map</span></td>
    </tr>
    <tr>
        <td style='padding-bottom: 30px'><a href='http://2beemap.local/reset-password?resetToken=%s'>Clique aqui</a></td>
    </tr>
    <tr>
        <td style='padding-bottom: 20px'>Importante: esta é uma mensagem automática e não deve ser respondida. Para enviar a sua sugestão ou solicitação para <span style='color: #1b9dff'>2Bee</span><span style="color:#3e3e3e">map</span>
            por favor, acesse <a href=''>####</a>.</td>
    </tr>
    <tr>
        <td>Política de Segurança: a <span style='color: #1b9dff'>2Bee</span><span style="color:#3e3e3e">map</span> nunca envia arquivos executáveis ou solicitação de dados pessoais. Para sua segurança, ao receber uma comunicação digital da <span style='color: #1b9dff'>2Bee</span><span style="color:#3e3e3e">map</span>, acesse nosso portal e confirme a autenticidade do comunicado. Além disso, mantenha atualizado o antivírus do seu computador.</td>

    </tr>
    </tbody></table>
</body>